<ol class="breadcrumb">
	<li ng-repeat="pathEntry in entry.path">
		<a ng-if="!$last" ng-bind="pathEntry.title" href="/#/entry/{{pathEntry.id}}"></a>
		<b ng-if="$last" ng-bind="pathEntry.title"></b>
	</li>
</ol>
<div class="wiki-child-links">
	<div class="row">
		<div class="col-lg-4">
			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="http://placehold.it/64x64" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Child page...</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="http://placehold.it/64x64" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Child page...</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading">Child page...</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras....
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-lg-12">
			<button class="btn btn-primary btn-block">Load all children pages</button>
		</div>
	</div>
</div>
<div class="wiki-entry panel panel-default">
	<div class="wiki-entry-header page-header">
		<h1>{{entry.title}}</h1>
	</div>

	<div ng-bind-html="entry.content" class="panel-body">
	</div>
</div>
